<div class="tip">
  <label for="tip-select">Выберите подсказку:</label>
  <select id="tip-select" [(ngModel)]="selectedTip">
    <option value="overall">Общая подсказка</option>
    <option value="one-type">Подсказка одного типа</option>
    <option value="full-row-type">Подсказка полного ряда</option>
  </select>
</div>



<div class="container" *ngIf="selectedTip === 'overall'">
    <!-- First Row with numbers from 1 to 40 -->
    <div class="row">
      <select [(ngModel)]="firstNumber">
        <option *ngFor="let number of firstRange" [value]="number">{{ number }}</option>
      </select>
      <select [(ngModel)]="secondNumber">
        <option *ngFor="let number of firstRange" [value]="number">{{ number }}</option>
      </select>
    </div>
  
    <!-- Second Row with numbers from 0 to 9 in 0.5 increments -->
    <div class="row">
      <select [(ngModel)]="thirdNumber">
        <option *ngFor="let number of secondRange" [value]="number">{{ number }}</option>
      </select>
      <select [(ngModel)]="fourthNumber">
        <option *ngFor="let number of secondRange" [value]="number">{{ number }}</option>
      </select>
    </div>
  </div>

  






  <!-- ------------------------------------------------ -->


  
  


<!-- After the numbers are selected, the graph will be displayed -->





<ngx-charts-bar-vertical *ngIf="selectedTip === 'overall'"
  [view]="view"
  [scheme]="colorScheme"
  [results]="single"
  [gradient]="gradient"
  [xAxis]="showXAxis"
  [yAxis]="showYAxis"
  [legend]="showLegend"
  [showXAxisLabel]="showXAxisLabel"
  [showYAxisLabel]="showYAxisLabel"
  [xAxisLabel]="xAxisLabel"
  [yAxisLabel]="yAxisLabel"
  (select)="onSelect($event)">
</ngx-charts-bar-vertical>



<ngx-charts-line-chart *ngIf="selectedTip === 'one-type'"
  [view]="view"
  [scheme]="colorScheme"
  [legend]="legend"
  [showXAxisLabel]="showXAxisLabel"
  [showYAxisLabel]="showYAxisLabel"
  [xAxis]="xAxis"
  [yAxis]="yAxis"
  [xAxisLabel]="xAxisLabel"
  [yAxisLabel]="yAxisLabel"
  [timeline]="timeline"
  [results]="multi"
  (select)="onSelect($event)"
  (activate)="onActivate($event)"
  (deactivate)="onDeactivate($event)"
  >
</ngx-charts-line-chart>













  